body{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: aqua; */
    min-width: 300px;
    max-width: 1400px;
    text-align: center;
}
header {
    background-color: black;
    color: antiquewhite;
    margin-top: 30px;
}
.bio-selection {
    background-color:rgb(112, 153, 154);
    height: 920px;
    margin-top: 30px;
}
.bio-selection > div img {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 10px double black;
}
hr {
    border: 3px double black;
}
.profile-detail {
    margin-top: 40px;
    border: 10px double black;
}
.profile-detail > p b {
    font-weight: 1500;
}
